@import "tailwindcss";

/* Colores base */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Estilos generales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #000000;
  }
}
--background: #1F2937;